@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    background-color: transparent;
}
.header.scrolled {
    background-color: #212429e5;
    border-bottom: 1px solid #ffffffc4;
    padding-top: 1rem;
}

